.section {
	padding-top: 5rem;
	padding-bottom: 7rem;
}

.section__heading {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1.2rem;
}

.section__tagline {
	max-width: 720px;
	margin: 0 auto 5rem;
	text-align: center;
	font-size: 1.7rem;
	line-height: 1.7;
	color: var(--color-foreground);
}

.footer {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

.view-more:hover {
	transform: scale(1.02);
}
