.section {
	padding-top: 3rem;
	padding-bottom: 4rem;
}

.section__heading {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1.2rem;
}

.section__tagline {
	max-width: 720px;
	margin: 0 auto 3rem;
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.6;
	color: var(--color-foreground);
}

.footer {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}

.footer .view-more {
	width: 100%;
	padding: 1.5rem 2rem;
}

.view-more:hover {
	transform: scale(1.02);
}

@media screen and (min-width: 480px) {
	.section {
		padding-top: 5rem;
		padding-bottom: 7rem;
	}

	.section__tagline {
		font-size: 1.7rem;
		line-height: 1.7;
		margin-bottom: 5rem;
	}

	.footer {
		margin-top: 5rem;
	}

	.footer .view-more {
		width: auto;
		padding: 2.3rem 4rem;
	}
}
