.card {
	border-radius: 20px;
	box-shadow: 0 0 20px 10px var(--color-shadow);
}

.card__surface {
	border-radius: 20px;
	overflow: hidden;
	background: var(--color-background);
	padding: 2rem;
}

.card__layout {
	gap: 2rem;
}

.card__quote {
	width: 100%;
	min-width: 0;
}

.card__quote :global(.quote) {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.card__quote blockquote > div:first-child > p {
	text-align: justify;
	font-size: 1.6rem;
}

.card__quote h3 {
	font-size: 1.4rem;
}

.card__quote h3 + p {
	font-size: 1.2rem;
}

.image-container {
	position: relative;
	width: fit-content;
	max-width: 100%;
	margin-inline: auto;
}

.image {
	display: block;
	width: 100%;
	max-width: 300px;
	height: auto;
	border-radius: 15px;
}

.quote-badge {
	position: absolute;
	top: 3rem;
	right: 0;
	transform: translateX(50%);
	display: inline-flex;
	z-index: 1;
}

.quote-badge__icon {
	--size: 50px;
	font-size: calc(var(--size) - 30px);
}

@media screen and (min-width: 400px) {
	.card__surface {
		padding: 3rem;
	}

	.quote-badge__icon {
		--size: 60px;
	}

	.card__quote h3 {
		font-size: 1.5rem;
	}

	.card__quote h3 + p {
		font-size: 1.3rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 899px) {
	.card__quote blockquote > div:first-child > p {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 900px) {
	.card__layout {
		grid-template-columns: 35% 65%;
		gap: 0;
		align-items: center;
	}

	.image-container {
		margin-inline: 0;
		width: 100%;
		max-width: 300px;
	}

	.image {
		width: 100%;
		max-width: none;
	}

	.card__quote blockquote > div:first-child > p {
		font-size: 2.1rem;
		text-align: initial;
	}

	.card__quote h3 {
		font-size: 2.1rem;
	}

	.card__quote h3 + p {
		font-size: 1.8rem;
	}

	.card__quote :global(.quote) {
		margin-left: 6rem;
		margin-right: 0;
	}
}

@media screen and (min-width: 1024px) {
	.card__layout {
		grid-template-columns: auto 1fr;
	}

	.image-container {
		width: fit-content;
		max-width: 100%;
	}

	.image {
		max-width: 300px;
	}
}
