.block {
	--padding-vertical: 3rem;
	padding: var(--padding-vertical) 0;
	box-sizing: border-box;
}

.block__header {
	text-align: center;
	margin-bottom: calc(var(--padding-vertical) / 2);
}

.block--inverted {
	background: var(--color-background-inverted);
	color: var(--color-foreground-inverted);
}

.block--inverted h1,
.block--inverted h2,
.block--inverted h3 {
	color: var(--color-foreground-strong-inverted);
}

.block--skewed-right {
	padding: calc(var(--padding-vertical) + 8rem) 0;
	clip-path: polygon(0% 1%, 100% 0%, 100% 100%, 0% 99%);
}

.block--skewed-left {
	padding: calc(var(--padding-vertical) + 8rem) 0;
	clip-path: polygon(0% 0%, 100% 1%, 100% 99%, 0% 100%);
}

@media screen and (min-width: 768px) {
	.block {
		--padding-vertical: 4rem;
	}
	.block--skewed-right {
		padding: calc(var(--padding-vertical) + 8rem) 0
			calc(var(--padding-vertical) + 12rem);
		clip-path: polygon(0% 3%, 100% 0%, 100% 100%, 0% 97%);
	}

	.block--skewed-left {
		padding: calc(var(--padding-vertical) + 8rem) 0
			calc(var(--padding-vertical) + 12rem);
		clip-path: polygon(0% 0%, 100% 4%, 100% 96%, 0% 100%);
	}
}
