.icon {
	--size: 52px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: var(--size);
	height: var(--size);
	min-width: var(--size);
	font-size: calc(var(--size) - 30px);
	border-radius: 100%;
	overflow: hidden;
	flex-shrink: 0;
}

.icon--small {
	--size: 40px;
	font-size: calc(var(--size) - 20px);
}

.icon__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (min-width: 400px) {
	.icon {
		--size: 64px;
	}

	.icon--small {
		--size: 42px;
		font-size: calc(var(--size) - 22px);
	}
}

.icon--default {
	background: var(--color-background-strong);
	color: var(--color-foreground-strong);
}

.icon--inverted {
	background: var(--color-background-strong-inverted);
	color: var(--color-foreground-strong-inverted);
}

.icon--light {
	background: var(--color-light);
	color: var(--color-light-content);
}

.icon--dark {
	background: var(--color-dark);
	color: var(--color-dark-content);
}

.icon--outline {
	background: transparent;
	color: var(--color-foreground-strong);
	border: 2px solid currentColor;
}

.icon--primary {
	background: var(--color-primary);
	color: var(--color-primary-content);
}

.icon--secondary {
	background: var(--color-secondary);
	color: var(--color-secondary-content);
}

.icon--accent {
	background: var(--color-accent);
	color: var(--color-accent-content);
}

.icon--success {
	background: var(--color-success);
	color: var(--color-success-content);
}

.icon--danger {
	background: var(--color-danger);
	color: var(--color-danger-content);
}

.icon--warning {
	background: var(--color-warning);
	color: var(--color-warning-content);
}

.icon--info {
	background: var(--color-info);
	color: var(--color-info-content);
}
