.banner {
	min-height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner__tagline {
	color: #b9c3cf;
	letter-spacing: 1px;
	margin: 2rem 0 4rem;
}

.banner__image {
	margin-top: 5rem;
}

.banner__content {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.banner__content {
		text-align: left;
	}

	.banner__image {
		margin-top: 0;
		object-fit: scale-down;
		min-height: 79%;
		max-height: 80%;
	}
}

@media screen and (min-width: 1024px) {
	.banner {
		min-height: 96vh;
		margin-top: 0;
		padding-top: 20px;
	}
}
