.page {
	display: grid;
	place-items: center;
	min-height: calc(70dvh - var(--navbar-height));
	background: var(--color-background-medium);
}

.header {
	display: grid;
	gap: 1rem;
	max-width: 48rem;
	margin: 0 auto;
	margin-bottom: 0;
	text-align: center;
}

.heading {
	margin: 0;
}

.tagline {
	margin: 0;
	color: var(--color-foreground);
}
