.arrow-link {
	color: var(--color-accent);
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.arrow-link .icon {
	font-size: 2.2rem;
	margin-left: 5px;
	transition: margin 0.3s;
}

.arrow-link:hover .icon {
	margin-left: 8px;
}

@media screen and (min-width: 440px) {
	.arrow-link {
		font-size: 2rem;
	}
}

@media screen and (min-width: 1024px) {
	.arrow-link {
		font-size: 1.8rem;
	}

	.arrow-link .icon {
		font-size: 1.8rem;
	}
}
